/*  
    Styling Slider
*/
/* .product-view{} */
.slider-mob {
    position: relative;
    background-image: url();
}
.slider-mob__bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
}
.slider-mob__item{
    width: 100vw;

}
.slider-mob__item img{
    width: 100%;
    object-fit: cover;
}
/* .slider-mob__control{} */
.slider-mob__prev-btn,
.slider-mob__next-btn{
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-color: var(--black);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-top: -2rem;
}
.slider-mob__prev-btn{
    left: 30.5rem;
}
.slider-mob__prev-btn img{
    margin-right: 1rem;
    width: 1rem;
}
.slider-mob__next-btn{
    right: 0;
}
.slider-mob__next-btn img{
    width: 1rem;
    margin-right: 1rem;
}